/* Chloe Kam 
Assignment 3
style sheet for naivgation bar on top of page */




  body{
      background-color: lightgray;
  }

  
  a {
      color:black;
      font-style: bold;
    

  }
  
  
  
 
  
 
  
 
