/* Chloe Kam 
Assignment 3
style sheet for naivgation bar on top of page */



ul {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:grey;
    list-style-type:none;
    display:flex;
    justify-content: center;
  }
  
  
  
  li a {
      color: white;
      font-size: 18px;
      padding: 8px 16px;
      text-decoration: none;
      display:inline-block
      
      
  }
  
  a {
      color:white;
      text-decoration: none;
  }
  
  li {
      float: left;
  }
  
 
  
  #nav {
      position: top;
      top: 217px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  
  #topnav_right {
    position: absolute;
    right: 5px;
    bottom: 620px;
    width: 200px;
    height: 50px;
  
  }