
		/* Gives whole website a black border  */
			body{
				
				border: 5px solid black;
			
			}
			/* Styles header, makes background green, centers text*/
			#header h1 {
				background: #BCCE98;
				height: 70px;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

				margin: 0px;
				padding-top: 10px;
			
			}
			/* Takes away empty space on bottom*/
			#mainwrapper {
				overflow: hidden;
			}
			
			#contentwrapper{
				
				width: 100%;
				color:darkgreen;
				background-color: lightgray;
				
			}
		
			#footer{

				background: #BCCE98;
				margin:0px;
				height: 70px;
				float: center;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
				
			}
		
			.innertube{
				margin: 0px; 
				padding-top: 15px;
				text-align: center;
			
			}
			main{
				display: flex;
  				flex-flow: row wrap;
  				justify-content: space-around;
				  

			}
			img {
				border: 3px solid rgb(39, 53, 36);
				border-radius: 25px;
				padding: 5px;
				width: 200px;
			
			  }
			  .item img {
				width: 200px;
				height: 200px; 
			  }