
		
			body{
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
				border: 5px solid black;
			
			}
			
			#header {
				background: #BCCE98;
				height: 75px;
				float: center;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			
			#header h1 {
				margin: 0;
				padding-top: 15px;
				text-align: center;
			}
			
			#mainwrapper {
				overflow: hidden;
			}
			
			#contentwrapper{
				
				width: 100%;
				color:darkgreen;
				background-color: lightgray;
				background-image:
			}
			
			
		
			#content {
				margin-right: 460px; 
				padding-bottom: 10010px;
				margin-bottom: -10000px;
			
					
				 
			
			}
			
			#footer{

				background: #BCCE98;
				height: 100px;
				float: center;
				font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
				
			}
			
		
			.innertube{
				margin: 0px; 
				padding-top: 15px;
				text-align: center;
			
			}
			main{
				display: flex;
  				flex-flow: row wrap;
  				justify-content: space-around;

			}
			img {
				border: 1px solid rgb(39, 53, 36);
				border-radius: 10px;
				padding: 3px;
				width: 200px;
			
			  }
			  .item img {
				width: 200px;
				height: 200px; 
			  }