body{
    background-color:#BCCE98;
   
    color:black;
    margin-bottom: 0px;

}

h1{
    font-size: large;
    float: left;
    margin-right: 50px;
    margin-top:60px;
}


table{

   background: url("https://github.com/chloekamm/ITM352_F21/blob/main/Kam_Chloe_Assignment1/images/background.jpeg?raw=true") ;
   margin-right: 350px;
}

div{
    float:left;
    margin-top: 5px;
  
}

footer{
    margin:0px;
    height: 50px;
 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}





